#login-wrap
  #login-ribbon
    %i.icon-lock
  #login-inner.login-inset
    #login-circle
      %section#login-form.login-inner-form{"data-angle" => "0"}
        %h1 Login
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), class: 'mws-form') do |f|
          = f.error_notification
          .control-group-merged
            .control-group
              = f.input :email, label: false, input_html: { class: 'required', placeholder: t(:email).to_s.titleize }
            .control-group
              = f.input :password, label: false, input_html: { class: 'required', placeholder: t(:password).to_s.titleize }
          .control-group
            %ul.mws-form-list.inline
              %li
                %label.checkbox
                  = f.input  :remember_me, :as => :boolean, input_html: { :checked => "checked"}, :inline_label => t(:remember_me).to_s.titleize if devise_mapping.rememberable?
              %li= link_to t(:forgot_your_password).to_s.titleize, new_password_path(resource_name), class: 'password'
            = f.hidden_field :account_id, :value => current_account.id
          .form-actions
            = button_tag t(:login).to_s.titleize, :class => 'btn btn-success btn-block btn-large'
