!!!
/[if lt IE 7 ] <html class="lt-ie9 lt-ie8 lt-ie7 ie6" lang="en">
/[if IE 7 ] <html class="lt-ie9 lt-ie8 ie7" lang="en">
/[if IE 8 ] <html class="lt-ie9 ie8" lang="en">
/[if IE 9 ] <html class="ie9" lang="en">
/ [if (gt IE 9)|!(IE)]><!
%html{lang: "en"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    / @font-face Fonts
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600", rel: "stylesheet"}/
    %link{href: "/assets/assets/css/normalize.css", rel: "stylesheet"}/
    %link{href: "/assets/assets/css/skeleton.css", rel: "stylesheet"}/
    %link{href: "/assets/assets/css/typography.css", rel: "stylesheet"}/
    %link{href: "/assets/assets/css/layout.css", rel: "stylesheet"}/
    %link{href: "/assets/assets/css/form.css", rel: "stylesheet"}/
    %link{href: "/assets/assets/css/shortcodes.css", rel: "stylesheet"}/
    %link{href: "/assets/assets/css/elements.css", rel: "stylesheet"}/
    %link{href: "/assets/assets/css/ie.css", rel: "stylesheet"}/
    %link{href: "/assets/assets/icons/glyphicons/style.css", rel: "stylesheet"}/
    %link{href: "/assets/assets/icons/zocial/zocial.css", rel: "stylesheet"}/
    %link{href: "/assets/assets/icons/social/social.css", rel: "stylesheet"}/
    %link{href: "/assets/plugins/layerslider/css/layerslider.css", rel: "stylesheet"}/
    %link{href: "/assets/plugins/flexslider/flexslider.css", rel: "stylesheet"}/
    %link{href: "/assets/plugins/magnificpopup/jquery.magnific-popup.css", rel: "stylesheet"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %title Easy Tow Tickets
  %body
    .main-wrap
      %header.header
        .container
          .sixteen.columns
            .header-row
              .header-col.brand
                %a.logo{href: "#"}
                  %img{alt: "Youxi", src: "/assets/assets/img/brand-logo.png"}/
                %span.tagline Awesome Responsive Template
              %nav.header-col.navigation
                %ul
                  %li{:class => "#{'active' if params[:controller] == 'pages' and params[:action] == 'index' }"}
                    = link_to t(:home), root_path
                  %li{:class => "#{'active' if params[:controller] == 'pages' and params[:action] == 'prices' }"}
                    = link_to t(:prices), prices_path
                  %li{:class => "#{'active' if params[:controller] == 'leads' and params[:action] == 'new' }"}
                    = link_to t(:contact_us), contact_us_path
                  %li{:class => "#{'active' if params[:controller] == 'pages' and params[:action] == 'prices' }"}
                    = link_to t(:login), admins_dashboard_path
        = yield
      %footer.footer
        .footer-top
          .container
            .one-third.column
              .footer-logo
              %p Youxi is a HTML5 template suitable for any blog or business websites. It features tons of widgets and elements, all cleanly coded with the latest web standards. The template is also responsive and retina ready, making it perfect for use across devices and platforms.
            .one-third.column
              %h4 Our Flickr Stream
            .one-third.column
              %h4 Latest Tweets
        .footer-bottom
          .container
            .eight.columns
              Copyright 2013.
              = succeed "." do
                %a{href: "http://www.youxithemes.com"} Youxi Themes
            .eight.columns
              %ul.footer-nav
                %li
                  %a{href: "index.html"} Home
                %li
                  %a{href: "portfolio-3.html"} Portfolio
                %li
                  %a{href: "blog.html"} Blog
                %li
                  %a{href: "contact.html"} Contact Us
    %script{src: "/assets/assets/js/jquery-1.10.2.min.js"}
    %script{src: "/assets/plugins/jflickrfeed/jflickrfeed.min.js"}
    %script{src: "/assets/plugins/tweet/jquery.tweet.min.js"}
    %script{src: "/assets/plugins/fitvids/jquery.fitvids.min.js"}
    %script{src: "/assets/plugins/map/gmap3.min.js"}
    %script{src: "/assets/plugins/isotope/jquery.isotope.min.js"}
    %script{src: "/assets/plugins/caroufredsel/jquery.carouFredSel-6.2.1-packed.js"}
    %script{src: "/assets/plugins/flexslider/jquery.flexslider-min.js"}
    %script{src: "/assets/assets/js/jquery.timeline.min.js"}
    %script{src: "/assets/plugins/magnificpopup/jquery.magnific-popup.min.js"}
    %script{src: "/assets/plugins/layerslider/js/jquery-easing-1.3.js"}
    %script{src: "/assets/plugins/layerslider/js/jquerytransit.js"}
    %script{src: "/assets/plugins/layerslider/js/layerslider.transitions.js"}
    %script{src: "/assets/plugins/layerslider/js/layerslider.kreaturamedia.jquery.min.js"}
    %script{src: "/assets/assets/js/youxi.plugins.min.js"}
    %script{src: "/assets/assets/js/youxi.setup.js"}
