.mws-panel.grid_8
  .mws-panel-header
    .pull-right
      = link_to 'Edit', edit_admins_ticket_path(ticket), class: 'btn'
    %span
      %i.icon-book
      Ticket Summary
  .mws-panel-body.no-padding
    %ul.mws-summary.clearfix
      %li
        %span.key
          = t(:created_by_id)
        %span.val
          %span.text-nowrap= ticket.created_by.name
      %li
        %span.key
          = t(:location_of_viecle)
        %span.val
          %span.text-nowrap= ticket.location_of_viecle
      %li
        %span.key
          = t(:name)
        %span.val
          %span.text-nowrap= ticket.name
      %li
        %span.key
          = t(:phone)
        %span.val
          %span.text-nowrap= ticket.phone
      %li
        %span.key
          = t(:address)
        %span.val
          %span.text-nowrap= ticket.address
      %li
        %span.key
          = t(:zip)
        %span.val
          %span.text-nowrap= ticket.zip
      %li
        %span.key
          = t(:millage_finish)
        %span.val
          %span.text-nowrap= ticket.millage_finish
      %li
        %span.key
          = t(:millage_start)
        %span.val
          %span.text-nowrap= ticket.millage_start
      %li
        %span.key
          = t(:millage)
        %span.val
          %span.text-nowrap= ticket.millage
      %li
        %span.key
          = t(:servie_time_finish)
        %span.val
          %span.text-nowrap= ticket.servie_time_finish
      %li
        %span.key
          = t(:servie_time_start)
        %span.val
          %span.text-nowrap= ticket.servie_time_start
      %li
        %span.key
          = t(:servie_time)
        %span.val
          %span.text-nowrap= ticket.servie
      %li
        %span.key
          = t(:extra_person_finish)
        %span.val
          %span.text-nowrap= ticket.extra_person_finish
      %li
        %span.key
          = t(:extra_person_start)
        %span.val
          %span.text-nowrap= ticket.extra_person_start
      %li
        %span.key
          = t(:extra_person_total)
        %span.val
          %span.text-nowrap= ticket.extra_person_total
      %li
        %span.key
          = t(:car_year)
        %span.val
          %span.text-nowrap= ticket.car_year
      %li
        %span.key
          = t(:car_make)
        %span.val
          %span.text-nowrap= ticket.car_make
      %li
        %span.key
          = t(:car_model)
        %span.val
          %span.text-nowrap= ticket.car_model
      %li
        %span.key
          = t(:car_color)
        %span.val
          %span.text-nowrap= ticket.car_color
      %li
        %span.key
          = t(:driver)
        %span.val
          %span.text-nowrap= ticket.driver
      %li
        %span.key
          = t(:state)
        %span.val
          %span.text-nowrap= ticket.state
      %li
        %span.key
          = t(:license_number)
        %span.val
          %span.text-nowrap= ticket.license_number
      %li
        %span.key
          = t(:vehicle_id)
        %span.val
          %span.text-nowrap= ticket.vehicle_id
      %li
        %span.key
          = t(:type_of_service)
        %span.val
          %span.text-nowrap
            - if ticket.sling
              .badge.badge-info= t(:sling)
            - if ticket.hoist_tow
              .badge.badge-info= t(:hoist_tow)
            - if ticket.wheel_lift
              .badge.badge-info= t(:wheel_lift)
            - if ticket.flad_bed
              .badge.badge-info= t(:flad_bed)
            - if ticket.start
              .badge.badge-info= t(:start)
            - if ticket.lock_out
              .badge.badge-info= t(:lock_out)
            - if ticket.flat_tire
              .badge.badge-info= t(:flat_tire)
            - if ticket.out_of_gas
              .badge.badge-info= t(:out_of_gas)
            - if ticket.wreck
              .badge.badge-info= t(:wreck)
            - if ticket.recoverty
              .badge.badge-info= t(:recoverty)
            - unless ticket.other.empty?
              .badge.badge-info= t(:other) + ' ' + ticket.other
      %li
        %span.key
          = t(:special_equipment)
        %span.val
          %span.text-nowrap
            - if ticket.special_equipment_single_line_winching
              .badge.badge-info= t(:single_line_winching)
            - if ticket.special_equipment_dual_line_winching
              .badge.badge-info= t(:dual_line_winching)
            - if ticket.special_equipment_snatch_blocks
              .badge.badge-info= t(:snatch_blocks)
            - if ticket.special_equipment_single_line_winching
              .badge.badge-info= t(:single_line_winching)
            - if ticket.special_equipment_scotch_blocks
              .badge.badge-info= t(:scotch_blocks)
            - if ticket.special_equipment_dolly
              .badge.badge-info= t(:dolly)
            - unless ticket.other.empty?
              .badge.badge-info= t(:other) + ' ' + ticket.other
      %li
        %span.key
          = t(:operators_comments)
        %span.val
          %span.text-nowrap= ticket.operators_comments
      %li
        %span.key
          = t(:status)
        %span.val
          %span.text-nowrap= ticket.status
