.span12.widget
  .widget-header
    %span.title Ticket Summary
    .toolbar
      .btn-group
        = link_to edit_admins_ticket_path(ticket), class: 'btn' do
          %i.icol-pencil
  .widget-content.table-container
    %table.table.table-striped.table-detail-view
      %thead
        %tr
          %th{colspan: "2"}
            %i.icol-exclamation
            = ticket.identification
      %tbody
        %tr
          %th= t(:created_by)
          %td= ticket.created_by.name
        %tr
          %th= t(:driver)
          %td= ticket.driver.name
        %tr
          %th= t(:location_of_viecle)
          %td= ticket.location_of_viecle
        %tr
          %th= t(:name)
          %td= ticket.name
        %tr
          %th= t(:phone)
          %td= ticket.phone
        %tr
          %th= t(:address)
          %td
            = ticket.address
            = ticket.address2
            = ticket.city
            = ticket.state
            = ticket.zip
        %tr
          %th= t(:milleage_finish)
          %td= ticket.milleage_finish
        %tr
          %th= t(:milleage_start)
          %td= ticket.milleage_start
        %tr
          %th= t(:total_milleage)
          %td= ticket.milleage
        %tr
          %th= t(:service_time_finish)
          %td= ticket.service_time_finish
        %tr
          %th= t(:service_time_start)
          %td= ticket.service_time_start
        %tr
          %th= t(:total_service_time)
          %td= ticket.service
        %tr
          %th= t(:extra_truck_finish)
          %td= ticket.extra_truck_finish
        %tr
          %th= t(:extra_truck_start)
          %td= ticket.extra_truck_start
        %tr
          %th= t(:total_extra_truck)
          %td= ticket.extra
        %tr
          %th= t(:car_year)
          %td= ticket.car_year
        %tr
          %th= t(:car_make)
          %td= ticket.car_make
        %tr
          %th= t(:car_model)
          %td= ticket.car_model
        %tr
          %th= t(:car_color)
          %td= ticket.car_color
        %tr
          %th= t(:license_number)
          %td= ticket.license_number
        %tr
          %th= t(:vehicle_id)
          %td= ticket.vehicle_id
        %tr
          %th= t(:type_of_service)
          %td
            - if ticket.sling
              .badge.badge-info= t(:sling)
            - if ticket.hoist_tow
              .badge.badge-info= t(:hoist_tow)
            - if ticket.wheel_lift
              .badge.badge-info= t(:wheel_lift)
            - if ticket.flad_bed
              .badge.badge-info= t(:flad_bed)
            - if ticket.start
              .badge.badge-info= t(:start)
            - if ticket.lock_out
              .badge.badge-info= t(:lock_out)
            - if ticket.flat_tire
              .badge.badge-info= t(:flat_tire)
            - if ticket.out_of_gas
              .badge.badge-info= t(:out_of_gas)
            - if ticket.wreck
              .badge.badge-info= t(:wreck)
            - if ticket.recovery
              .badge.badge-info= t(:recovery)
            - unless ticket.other.empty?
              .badge.badge-info= t(:other) + ' ' + ticket.other
        %tr
          %th= t(:special_equipment)
          %td
            - if ticket.special_equipment_single_line_winching
              .badge.badge-info= t(:single_line_winching)
            - if ticket.special_equipment_dual_line_winching
              .badge.badge-info= t(:dual_line_winching)
            - if ticket.special_equipment_snatch_blocks
              .badge.badge-info= t(:snatch_blocks)
            - if ticket.special_equipment_single_line_winching
              .badge.badge-info= t(:single_line_winching)
            - if ticket.special_equipment_scotch_blocks
              .badge.badge-info= t(:scotch_blocks)
            - if ticket.special_equipment_dolly
              .badge.badge-info= t(:dolly)
            - unless ticket.other.empty?
              .badge.badge-info= t(:other) + ' ' + ticket.other 
        %tr
          %th= t(:operators_comments)
          %td= ticket.operators_comments
        %tr
          %th= t(:status)
          %td= ticket.status
        %tr
          %th= t(:created_at)
          %td= ticket.created_at
        %tr
          %th= t(:updated_at)
          %td= ticket.updated_at
