!!!
/[if lt IE 7] <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="lt-ie9" lang="en">
/ [if gt IE 8]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag "admins/application", :media => "all"

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 10]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %title
    = csrf_meta_tags
  %body{"data-fixed-sidebar" => "false", "data-show-sidebar-toggle-button" => "false"}
    #wrapper
      %header#header.navbar.navbar-inverse
        .navbar-inner
          .container
            .brand-wrap
              .brand-img.pull-left
                = link_to admins_dashboard_path, :class => 'brand' do
                  =image_tag '/assets/logo.png'
            #header-right.clearfix
              #nav-toggle.collapsed{"data-target" => "#navigation", "data-toggle" => "collapse"}
                %i.icon-caret-down
              #header-functions.pull-right
                #user-info.clearfix
                  %span.info
                    Welcome
                    %span.name
                      = current_admin.full_name
                    %ul.dropdown-menu.pull-right
                      %li
                        %a{href: edit_admins_profile_path(current_admin)}
                          %i.icol-user-business
                          My Profile
                      %li
                        = link_to(destroy_admin_session_path, :method => :delete ) do
                          %i.icol-key
                          Logout
                #logout-ribbon
                  = link_to(destroy_admin_session_path, :method => :delete ) do
                    %i.icon-off
      #content-wrap
        #content
          #content-outer
            #content-inner
              #sidebar
                %nav#navigation.collapse
                  %ul
                    %li
                      = link_to admins_dashboard_path do
                        %span{:title => "Dashboard"}
                          %i.icon-home
                          %span.nav-title Dashboard
                    -if current_admin.is_admin
                      %li
                        = link_to admins_admins_path do
                          %span{:title => "Admins"}
                            %i.icon-home
                            %span.nav-title Admins
                    %li
                      = link_to admins_tickets_path do
                        %span{:title => "Tickets"}
                          %i.icon-home
                          %span.nav-title Tickets
              #sidebar-seperator
              %section#main.clearfix
                #main-header.page-header
                  - unless flash[:notice].blank?
                    %br
                    %br
                    .alert.fade.in
                      = link_to 'x', '#',:class => 'close', 'data-dismiss' => 'alert'
                      = content_tag :div, flash[:notice]
                  - unless flash[:error].blank?
                    %br
                    %br
                    .alert.alert-danger.fade.in
                      = link_to 'x', '#',:class => 'close', 'data-dismiss' => 'alert'
                      = content_tag :div, flash[:error]
                  - unless flash[:alert].blank?
                    %br
                    %br
                    .alert.alert-info.fade.in
                      = link_to 'x', '#',:class => 'close', 'data-dismiss' => 'alert'
                      = content_tag :div, flash[:alert]
                  = yield :pageheader
                #main-content
                  = yield
      %footer#footer
    = javascript_include_tag 'admins/application'
    / Core Scripts
    /[if lt IE 9]
      <script src="/assets/users/libs/excanvas.min.js"></script>

    /Charts
    = yield :pagefooter
    = render '/shared/uservoise'

