!!!
/[if lt IE 7] <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="lt-ie9" lang="en">
/ [if gt IE 8]><!
%html{lang: "en"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    / Viewport Metatag
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag "admins/default", media: "all", "data-turbolinks-track" => true
    %title= current_account.name
  = csrf_meta_tags
  %body
    #mws-header.clearfix
      / Logo Container
      #mws-logo-container
        / Logo Wrapper, images put within this wrapper will always be vertically centered
        #mws-logo-wrap
          %img{alt: "mws admin", src: "/assets/images/mws-logo.png"}/
      / User Tools (notifications, logout, profile, change password)
      #mws-user-tools.clearfix
        #mws-user-info.mws-inset
          / User Photo
          #mws-user-photo
            %img{alt: "User Photo", src: "/assets/example/profile.jpg"}/
          / Username and Functions
          #mws-user-functions
            #mws-username
              Hello,
              = current_admin.name
            %ul
              %li
                = link_to t(:profile), edit_admins_profile_path(current_admin)
              %li
                = link_to t(:Logout), destroy_admin_session_path, :method => :delete
    / Start Main Wrapper
    #mws-wrapper
      / Necessary markup, do not remove
      #mws-sidebar-stitch
      #mws-sidebar-bg
      / Sidebar Wrapper
      #mws-sidebar
        / Hidden Nav Collapse Button
        #mws-nav-collapse
          %span
          %span
          %span
        #mws-navigation
          %ul
            %li
              = link_to admins_dashboard_path do
                %i.icon-home
                Dashboard
            -if current_admin.is_admin
              %li
                = link_to admins_admins_path do
                  %i.icon-graph
                  Admins
            %li
              = link_to admins_tickets_path do
                %i.icon-graph
                Tickets
      / Main Container Start
      #mws-container.clearfix
        / Inner Container Start
        .container
          / Statistics Button Container
          .mws-stat-container.clearfix
            / Statistic Item
            %a.mws-stat{href: "#"}
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-building
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Tickets All Time
                %span.mws-stat-value= current_account.tickets.count
            / Statistic Item
            %a.mws-stat{href: "#"}
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-building
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Tickets This Year
                %span.mws-stat-value= current_account.tickets.where(:created_at => Date.today.beginning_of_year..Date.today.end_of_year).count
            / Statistic Item
            %a.mws-stat{href: "#"}
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-building
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Tickets This Month
                %span.mws-stat-value= current_account.tickets.where(:created_at => Date.today.beginning_of_month..Date.today.end_of_month).count
            / Statistic Item
            %a.mws-stat{href: "#"}
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-building
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Tickets This Week
                %span.mws-stat-value= current_account.tickets.where(:created_at => Date.today.beginning_of_week..Date.today.end_of_week).count 
          / Panels Start
          = yield
          / Panels End
        / Inner Container End
        / Footer
        #mws-footer
          ="Copyright Easy Tow Tickets 2012- #{Date.today.year}. All Rights Reserved."
      / Main Container End
    / JavaScript Plugins
    = javascript_include_tag "admins/admins", "data-turbolinks-track" => true
    = render '/shared/uservoise'

