.mws-panel.grid_8
  .mws-panel-header
    .pull-right
      = link_to 'Add', new_admins_admin_path, class: 'btn'
    %span
      %i.icon-table
      Admins / Drivers
  .mws-panel-body.no-padding
    %table.mws-datatable-fn.mws-table
      %thead
        %tr
          %th
          %th= t(:email)
          %th= t(:name)
          %th= t(:address)
          %th= t(:phone)
          %th= t(:active)
          %th= t(:is_admin)
          %th= t(:is_driver)
          %th= t(:start_date)
          %th= t(:end_date)
      %tbody
        - admins.each do |a|
          %tr
            %td= link_to 'Show', admins_admin_path(a), class: 'btn'
            %td= mail_to a.email
            %td= a.name
            %td= a.full_address
            %td= number_to_phone(a.phone)
            %td= a.active
            %td= a.is_admin
            %td= a.is_driver
            %td= a.start_date
            %td= a.end_date
