.span12.widget
  .widget-header
    %span.title Tickets
  .widget-content.table-container
    %table#demo-dtable-01.table.table-striped
      %thead
        %tr
          %th
          %th= t(:id)
          %th= t(:created_by)
          %th= t(:status)
          %th{class: 'hidden-phone'}= t(:driver)
          %th{class: 'hidden-phone'}= t(:created_at)
          %th{class: 'hidden-phone'}= t(:location_of_viecle)
          %th{class: 'hidden-phone'}= t(:phone)
          %th{class: 'hidden-phone hidden-tablet'}= t(:car_year)
          %th{class: 'hidden-phone hidden-tablet'}= t(:car_make)
          %th{class: 'hidden-phone hidden-tablet'}= t(:car_model)
          %th{class: 'hidden-phone hidden-tablet'}= t(:car_color)
          %th{class: 'hidden-phone hidden-tablet'}= t(:vin_number)
      %tbody
        - tickets.each do |t|
          %tr
            %td= link_to 'Show', admins_ticket_path(t), class: 'btn'
            %td= t.identification
            %td= t.created_by.name if t.created_by_id
            %td= t.status
            %td{class: 'hidden-phone'}= t.driver.name if t.driver_id
            %td{class: 'hidden-phone'}= t.created_at.in_time_zone(current_account.time_zone).strftime('%D %r')
            %td{class: 'hidden-phone'}= t.location_of_viecle
            %td{class: 'hidden-phone'}= number_to_phone(t.phone)
            %td{class: 'hidden-phone hidden-tablet'}= t.car_year
            %td{class: 'hidden-phone hidden-tablet'}= t.car_make
            %td{class: 'hidden-phone hidden-tablet'}= t.car_model
            %td{class: 'hidden-phone hidden-tablet'}= t.car_color
            %td{class: 'hidden-phone hidden-tablet'}= t.vin_number
